[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = kherrity@vectra.ai
	name = Kyle Herrity
[core]
	excludesfile = /home/vadmin/.gitignore_global
[alias]
	pl = pull --rebase
[push]
	default = simple
